@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
    --font-sans: "Outfit", sans-serif;
    --color-primary: #6366f1;
    /* Indigo 500 */
    --color-primary-hover: #4f46e5;
    /* Indigo 600 */
    --color-dark: #0f172a;
    /* Slate 900 */
    --color-dark-lighter: #1e293b;
    /* Slate 800 */
}

body {
    background-color: var(--color-dark);
    color: #f8fafc;
    /* Slate 50 */
    font-family: var(--font-sans);
}

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../../resources/**/*.blade.php';
@source '../../resources/**/*.js';
@source '../../resources/**/*.vue';